/* Tablet size */

@media screen and (min-width: 768px) {
  .aside {
    background: linear-gradient(180deg, rgba(0,11,27,1) 0%, rgba(0,11,27,1) 5%, rgba(28,19,65,0) 30%);
    position: sticky;
    width: 25%;
    height: 100vh;
    border-radius: 0;
    box-shadow: 0 0 0 0;
    z-index: auto;
    border-right: 1px solid #6299BC;
  }

  .upgrade-button {
    font-size: 2vw;
  }

  .user {
    flex-direction: column;
    margin: 1vw 0 1vw 0;
  }

  header > a:last-child {
    display: none;
  }

  nav {
    display: inline;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .aside-item {
    margin: 0.8vw;
  }

  .hamburger-toggle {
    display: none;
  }

  .catalog-guides div{
    margin-bottom: 1.2em;
  }
  .catalog-guides > *:nth-child(4n) {
    display: block;
  }

  .catalog-guides .sale-icon {
    width: 3.4em;
    left: 85%;
  }

  .article {
    width: 48%;
  }
  
}

/* Desktop size */
@media screen and (min-width: 1200px) {
  .aside {
    width: 15%;
  }

  main h2:first-child {
    margin: 0.5em 0 0.5em 0.2em;
    font-size: 2.3em;
  }

  .user {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 0.5em;
  }

  .upgrade-button {
    font-size: 1vw;
  }
  .user-template {
    width: 8em;
    height: 8em;
  }

  header {
    justify-content: space-between;
    height: 14vh;
  }

  nav ul {
    margin-left: 3em;
  }

  header a:nth-child(3) {
    margin-right: 2em;
  }

  #page-title {
    font-size: 3em;
  }

  .user-info {
    height: 15vw;
    padding: 0 1em 0 1em;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 2em;
  }

  .profile-user-info img, .user-info img {
    max-height: 12vw;
    height: 12vw;
  }

  .user-info .user-text {
    left: 2em;
    position: relative;
    font-size: 1.2vw;
    text-align: right;
  }

  .user-info .user-buttons {
    display: none;
  }

  .user-progress,
  .next-steps {
    display: flex;
  }

  .user-info h2 {
    display: block;
  }

  .catalog-guides {
    justify-content: space-evenly;
    gap: 1em;
  }
  .catalog-guides div {
    height: 40vh;
    width: 20vw;
    flex-basis: auto;
  }

  .catalog-items h3 {
    font-size: 2vw;
  }
  .catalog-guides > *:nth-child(2n) {
    display: block;
  }

  .catalog-guides .sale-icon {
    width: 3vw;
    left: 88%;
    top: 87%;
  }

  .carousel {
    max-height: 80vh;
  }

  .carousel-container{
    height: 80vh;
    width: 100%;
  }

  .carousel-item img {
    object-fit: cover;
    width: 100%;
  }

  .latest-posts {
    justify-content: space-evenly;
    gap: 2vw;
  }

  .article {
    width: 20em;
  }

  main h2:nth-child(n + 9) {
    text-align: center;
  }

  .email-contact input[type="email"] {
    width: 40%;
  }
}
