a {
  text-decoration: none;
}


.profile-user-info div {
  display: flex;
  flex-direction: column;
  
}

.profile-picture {
  margin-left: 0em;
  position: relative;
}

.profile-picture img:nth-child(1) {
  border-radius: 50%;
  margin-right: 10px;
  max-width: 40vw;
  max-height: 40vw;
}
.profile-picture img:nth-child(2) {
  position: absolute;
  width: 8vw;
  height: 8vw;
  right: 5vw;
  bottom: 3vh;
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main > div:first-child,
main h2 {
  align-self: center;
}

.profile-user-info {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-user-info div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.7em;
  width: 100%;
}

.profile-user-info .label {
  color: grey;
}

.profile-info a {
  margin-left: 5em;
}


input[value="Edit profile"] {
  margin: 0 auto;
  display: block;
  width: 100%;
  margin-top: 1.2em;
  border-radius: 20px;
  padding: 0.5em 1em;
  font-size: 1.3em;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 2em;
}

input[value="Update profile"] {
  margin: 0 auto;
  display: block;
  width: 100%;
  background-color: #6b6b6b;
  border: 1px solid #6b6b6b;
  color: #fff;
  border-radius: 20px;
  padding: 0.5em 2.5em;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2em;
  align-self: center;

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[list="countries"],
input[type="date"],
select {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.7em;
  font-size: 1.2em;
  padding: 0.5em 0.5em;
  margin-top: 0.5em;
}

input:required:valid {
  background: url("../media/green-check.png") no-repeat 95% 50%;
  background-size: 25px;
}

input:focus:invalid {
  background: rgb(255, 204, 204);
  background-size: 25px;
  border-color: red;

}

/* Tablet size */

@media screen and (min-width: 768px) {


  .profile-info img:nth-child(1) {
    max-width: 12em;
    max-height: 12em;
  }
  .profile-info img:nth-child(2) {
    height: 6vw;
    width: 6vw;
    right: 4vw;
  }

  .profile-info form {
    width: 75vw;
  }

  .show-user-info{
    margin-left: calc(50% - 30em) ;
  }
  
  
}

/* Desktop size */

@media screen and (min-width: 1200px) {


  .header-avatar-link {
    visibility: hidden;
  }

  .profile-info{
    flex-direction: row;
    margin-top: 3vh;
    flex-wrap: wrap;
  }
  
  .profile-user-info{
    width: 100%;
    font-size: 1em;
  }


  .profile-info form div{
    width: 80%;
  }

  .profile-picture img:nth-child(1) {
    max-width: 20vw;
    max-height: 20vw;
  }

  .profile-picture img:nth-child(2) {
    right: 1vw;
  }
  .profile-info form + a {
    margin-left: calc(50% - 8em);
  }

  .show-user-info{
    margin-left: calc(50% - 15em) ;
  }
  

  input[value="Edit profile"] {
    margin-left: 6vw;
  }
}